div.modal.hide.fade.modalConversation
  div.modal-header
    h3 Discussion avec Michel La frange
  div.modal-body
    form 
      fieldset
        legend username 
        input(type="text", id="newUserName", required="required")
  div.modal-footer
    button.btn.btn-primary#userNameValidation Save